.header {
    position: relative;
    height: 720px;
    overflow: hidden;
}
.blur-circle-shape {
    position: absolute;
    top: -125px;
    left: -125px;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background: var(--gold);
    z-index: 0;
    filter: blur(250px);
}
.headings-header {
    height: 100%;
    margin-left: 40px;
    z-index: 1;
}
.heading-header-title {
    position: relative;
    font-size: 1.2rem;
    color: var(--gold);
    margin-left: 70px;
}
.heading-header-title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
    width: 60px;
    height: 2px;
    background-color: var(--gold);
}
.heading-header-title::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -28px;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: var(--gold);
    box-shadow: 0 0 1px 3px transparent;
    border-radius: 4px;
}
.heading-header-second-title {
    color: var(--gold-white-100);
    font-size: 2.3rem;
    margin-top: 30px;
    font-weight: bolder;
    line-height: 50px;
}
.heading-header-second-title span {
    color: var(--dark-100);
}
.search-bar {
    position: relative;
    width: 600px;
    height: 60px;
    margin-top: 30px;
    padding: 0 8px 0 20px;
    column-gap: 20px;
    border-bottom: 1px solid var(--gold);
}
.search-input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.1rem;
    color: var(--dark-100);
}
.search-input::placeholder {
    color: var(--dark-nav);
}
.search-btn {
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 840px) {
    .headings-header {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        padding: 30px;
    }
    .heading-header-title {
        text-align: center;
    }
    .heading-header-second-title {
        color: #ffa72c;
    }
}
@media screen and (max-width: 700px) {
    .heading-header-title {
        margin: 0;
        line-height: 35px;
    }
    .heading-header-second-title {
        font-size: 2rem;
        text-align: center;
    }
    .search-bar {
        width: 95%;
    }
    .search-btn {
        width: 40px;
        height: 30px;
    }
    .heading-header-title::after,.heading-header-title::before{
        display: none;
    }
}